@charset "utf-8";
/* CSS Document */

/* Colors */
.naranja{background-color: #009}
.azul{background-color:#1195FF}
/* Styles */
.menu_carlos{
	padding-left:30px;
	padding-top:30px;}
.menu_carlos_interno{
	font-size: 0.8em;
	height: 100%;
    width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;}
.menu_carlos a, nav a{
	color: #EEE;
	}
	.menu_carlos a:hover { 
  		color: #FFF;
	}
	.menu_carlos a:link { 
  		text-decoration:none;
	}
.menu_carlos h6{
	font-size: 1.2em;
	color: #FF9;
	font-weight:bold;
	}
.container-herencia1{
	padding-top:20px;
	padding-left:100px;
	padding-right:100px;
}