@charset "utf-8";
/* CSS Document */

/*FF976C*/
.logo1{ color:#FFCD2D;float: left; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';font-weight: bolder;}
/* Colors */
.color1{
	background-color: #e9ecef;
	-webkit-box-shadow: 3px 10px 50px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 10px 50px -15px rgba(0,0,0,0.75);
	box-shadow: 3px 10px 50px -15px rgba(0,0,0,0.75);
}
.azul{background-color:#E0DEE3} /*1195FF*/
/* Styles */
.menu_carlos{
	padding-left:30px;
	padding-top:30px;}
.menu_carlos_interno{
	font-size: 0.8em;
	height: 100%;
    width: 100%;
	padding-left:30px;
	overflow-y: scroll;
	overflow-x: hidden;}
a{color: #7E7D7F;}
a:hover { color: #BF542D;}
.menu_carlos a:link { text-decoration:none;}
.menu_carlos h6{
	font-size: 1.2em;
	color: #BF542D;
	font-weight:bold;
	}
.container-herencia1{
	padding-top:20px;
	padding-left:100px;
	padding-right:100px;
}